include README
include portablelinux
include portablelinux.glade
include portablelinux.png
include portablelinux.desktop
include setup.cfg
include setup.py
include COPYING
include TODO
include MANIFEST.in
