[Desktop Entry]
Encoding=UTF-8
Name=Portable Linux
Comment=Install a bootable live Linux on your portable drive
Exec=portablelinux
Icon=portablelinux
Terminal=false
StartupNotify=true
Type=Application
Categories=System
X-Desktop-File-Install-Version=0.15
